REACT_APP_TOKEN_ENDPOINT=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE3NTM2MTM0NDgsImV4cCI6MTc1NDIxODI0OCwianRpIjoiZjBjZjU3YjctOTRkNy00M2YwLWJmZGQtZDdjN2RhMDYyMWZlIiwidHlwZSI6Im1hbmFnZW1lbnQiLCJ2ZXJzaW9uIjoyLCJuYmYiOjE3NTM2MTM0NDgsImFjY2Vzc19rZXkiOiI2MmI1OTk0M2M0MmRjNzhhYTViNzdiMjgifQ.dQ2DLcLBICRcW7FD6YpOYCzmakPpr8ozzL3ze__1t7c
REACT_APP_ROOM_ID=62b599dac42dc78aa5b77b5e
